<h3>Marks Table</h3>
<table class="table" style='color: white'>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Assessment</th>
      <th scope="col">Student</th>
      <th scope="col">Mark</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>A1</td>
      <td>Otto</td>
      <td>20</td>
      <td>25</td>
    </tr>
  </tbody>
</table>