<div class='blackboard-page'>
  <div class='main-panel'>
    <h3> ADMIN Things </h3>
    <div style="padding-top:20px;padding-bottom:40px">
      <h4>Appoint Lecturer</h4>
      <%= render 'form', subjects: @subjects_names %>
    </div>
    <div class='col-md-8' style="padding-top:20px;padding-bottom:40px">
      <h4>Main Lecturer for Subject</h4>
      <%= render 'table' %>
    </div>
  </div>
</div>
