<div class='blackboard-page'>
  <div class='main-panel'>
    <h3> New Enlistment </h3>  
    <%= render 'form' %>
    <div class='col-md-9'style='padding-top:100px;'>
      <%= render 'table'  %>
    </div>
  </div>
</div>