<div class='blackboard-page'>
  <div class='main-panel'>
    <h3> New Enlistment for <%= @subjects.first %> </h3>  
    <%= render 'form', subjects: @subjects %>
    <div class='col-md-9'style='padding-top:100px;'>
      <h3>Students of: &nbsp<%= @subjects.first %> </h3>
      <%= render 'table' %> 
    </div>
  </div>
</div> 