<h1 style='padding-top: 20px'>About Vermillion University</h1>
<div class='text-center'>
  <%= image_tag "https://images.unsplash.com/photo-1585231474241-c8340c2b2c65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2FzdGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60", class:"img-circle", style:"width:480px;height:480px;"%>
</div>

<div class='d-flex align-items-center justify-content-center'>
  <div class='text-center' style='padding-top:25px; padding-bottom: 50px'>
    <h3>Our Legacy</h3>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <p> <%= @about[:info_1] %> </p>
      <p> <%= @about[:info_2] %></p>
    </div>
  </div>
</div>

