<h1 style='padding-top: 20px'>About Vermillion University</h1>
<div class='text-center'>
  <%= image_tag "https://images.unsplash.com/photo-1585231474241-c8340c2b2c65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2FzdGxlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60", class:"img-circle", style:"width:480px;height:480px;"%>
</div>

<div class='d-flex align-items-center justify-content-center'>
  <div class='text-center' style='padding-top:25px; padding-bottom: 50px'>
    <h3>Our Legacy</h3>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <p>Vermillion University was opened in 1891 in the Republic of Know-When. The first rector Julius Vermillion laid 
      a solid and timeless foundation of working hard to ensure that things get done. His dreams and goals for the university 
      were all accomplished during his lifetime before his son in learning Asta Silvacquaria took the university to the next 
      level. From 1911 until 1951 the university boasted the best engineering courses and results from students worldwide. 
      The top engineering marvels of the 20th century were all contributed to in the largest means by students from this 
      university. Some of their successes include: The time-machine, the quantam-wall piercer and the atomic-loop-particle 
      accelerator.</p>
      <p>The current rector Merileona Waifu-desu is maintaining the high standard of the university and ensuring that the 
      world of engineering will continue to improve.</p>
    </div>
  </div>
</div>