<h1 style='padding-top: 12px'>Yearly Calendars</h1>

<div class='d-flex justify-content-center align-items-center' style='padding-top:15px; color: #822019'>
  <div>
    <div class='bord' style='padding-top: 12px; width: 400px; height: 200px; background-color: lightblue'>
      <h2>2022</h2>
      <h3>&nbsp <%= link_to "Calendar 2022", @calendars[:calendar_2022] , style:'color: #822019; text-decoration: none' %></h3>
    </div>
    <div class='bord' style='padding-top: 12px; width: 400px; height: 200px; background-color: lightgreen'>
      <h2>2023</h2>
      <h3>&nbsp <%= link_to "Calendar 2023", @calendars[:calendar_2023], style:'color: #822019; text-decoration: none' %></h3>
    </div>
    <div class='bord' style='padding-top: 12px; width: 400px; height: 200px; background-color: lightpink'>
      <h2>2024</h2>
      <h3>&nbsp <%= link_to "Calendar 2024", @calendars[:calendar_2024] , style:'color: #822019; text-decoration: none' %></h3>
    </div>
  </div>
</div>