<h1 style='padding-top:10px'>Careers</h1>
<div class='text-center'>
  <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-JhbklvrvdDlLMrC31qEAe_UkR_e8vgdqIA&usqp=CAU"%>
</div>
<div class='text-center' style='padding-top:20px'>
  <h5>Apologies. There are no available posts at the university at present </h5>
</div>
