<h1 style='padding-top: 20px'>Civil Engineering</h1>
<div class='text-center'>
  <%= image_tag "https://images.unsplash.com/photo-1569104204151-5f6acfafadce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YnVyaiUyMGtoYWxpZmF8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60", class:"img-circle", style:"width:480px;height:480px;"%>
</div>

<div class='d-flex align-items-center justify-content-center'>
  <div class='text-center' style='padding-top:25px; padding-bottom: 50px'>
    <h3>What is Civil Engineering</h3>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <p>Civil Engineering invloves studying structural mechanics to the lowest level possible. These skills are used 
      to build a variety of different structure that are everywhere around us; ranging from the houses to skyscrapers 
      such as the Burj Khlaifa and the San Fransisco Suspension Bridge.</p>
    </div>
    <h3>Is this for you?</h3>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <p>A love for mathematics, physical science and problem solving will serve as a good starting place. Interest in 
      how concrete dries, it could indicate that this is just right for you. </p>
    </div>
    <h3>Minimum Requirements</h3>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <p>A custom VU AP score of 590 is required to be eligible for this course. Use the link below to check your eligibility for 
      the course according to your most recent marks. </p>
    </div>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <%= link_to 'your ap score', ap_score_path %>
    </div>
  </div>
</div>