<h1 style='padding-top:10px'>Vermillion University of Engineering</h1>
<h4 style='padding-top:10px'>Vermillion Universiteit van Ingenieurswese</h4>

<div class='d-flex justify-content-center mt-4 mb-2' style='padding-top:10px'>
  <div class='sectioning col-md-8'>
    <div class='left' style='text-align: justify'>
      <p><h4>Verimillion University Steals Top Spot Once Again</h4></p>
      <p>In the contest of Universities throughout RSA, Vermillion's Engineering
      faculty swoops in taking first position for the 31st year in a row both in the course content and in student's results. Lecturers attribute their success to the rector's idea of explaining to prompt thinking of the student rather than
       simply teaching facts.</p>
    </div>
    <div class='right'>
      <%= image_tag "https://images.unsplash.com/photo-1514820720301-4c4790309f46?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJpemV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"%>
    </div>
  </div>
</div>
<div class='d-flex justify-content-center mt-4 mb-2'>
  <div class='sectioning col-md-8'>
    <div class='right' style='text-align: justify' style='text-align: justify'>
      <p><h4>Professor Celebrates Research Success</h4></p>
      <p>Our Control Systems Professor, Prof. Work Supahard has had a break through after 5 years of research into why some women shoot down men in the most brutal ways imaginable. 
      Results conclude some women do it to feel in control even at the cost of losing a good man. The report concludes that while men cant do anything about it, they can be grateful to not 
      be married to such a woman in the first place.</p>
    </div>
    <div class='left'>
      <%= image_tag "https://images.unsplash.com/photo-1620678902307-c3a334984277?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y29udHJvbCUyMHN5c3RlbXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"%>
    </div>
  </div>
</div>
<div class='d-flex justify-content-center mt-4 mb-2'>
  <div class='sectioning col-md-8'>
    <div class='left' style='text-align: justify'>
      <p><h4>PHD Student Discovers Light Matter</h4></p>
      <p>Ladies and gentlemen, by all accounts it doesn't make any sense, however, after a 3 year in depth study of electronics our top PHD student has made a scientific breakthrough discovering light matter.
      While it sounds like normal matter that we are able to see, its quite the opposite. From the study Light Matter is in fact so bright that it cannot be observed. It also has particular properties which make it 
      dificult to work with. Light matter requires dark matter and antimatter to be present for its effects to made manifest. For this reason its healing and projectile attributes are yet to be thoroughly explored.</p>
    </div>
    <div class='right'>
      <%= image_tag "https://plus.unsplash.com/premium_photo-1674597598651-2dfc7937fbb6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bGlnaHR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"%>
    </div>
  </div>
</div>
<div class='d-flex justify-content-center mt-4 mb-2'style='padding-bottom: 50px'>
  <div class='sectioning col-md-8'>
    <div class='right' style='text-align: justify'>
      <p><h4>VU Open for Applications</h4></p>
      <p>Vermillion University has opened their applications for 2024 on July 17th 2023. Applications will close on 21 October 2023, whereafter no new applications will be processed. Prospective students and exhorted 
      to apply sooner rather than later as a first-come first-serve approach (within maintaining the minimum requirements) is applied rather than a better than someone else approach.</p>
    </div>
    <div class='left'>
      <%= image_tag "https://images.unsplash.com/photo-1481622254766-0f0a35bf6e77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8b3BlbiUyMGZvciUyMGFwb3BsaWNhdGlvbnN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"%>
    </div>
  </div>
</div>
