<h1>Vermillion University of Engineering</h1>
<p>The Best Place To Learn</p>
 
<div style='padding: 10px'>
  <%= link_to "Courses", courses_path, class:'btn btn-primary' %>
</div>
<div style='padding: 10px'>
  <%= link_to "Residences", residences_path, class:'btn btn-primary' %>
</div>