<h1 style='padding-top: 20px'>Mechatronic Engineering</h1>
<div class='text-center'>
  <%= image_tag "https://images.unsplash.com/photo-1625314868143-20e93ce3ff33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHJvYm90c3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60", class:"img-circle", style:"width:480px;height:480px;"%>
</div>

<div class='d-flex align-items-center justify-content-center'>
  <div class='text-center' style='padding-top:25px; padding-bottom: 50px'>
    <h3>What is Mechatronic Engineering</h3>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <p>Mechatronic Engineering invloves studying electronic and mechanical principles and components to the lowest level 
      possible. This is complimented with studies in computer sciences to make them a jack of all trades.
      These skills are used together to build a variety of different products such as robots, assembly lines or automotive 
      products</p>
    </div>
    <h3>Is this for you?</h3>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <p>A love for mathematics, physical science and problem solving will serve as a good starting place. Interest in 
      how electronic components and their mechanical frameworks work on their own or in a system could mean that this 
      is just right for you. </p>
    </div>
    <h3>Minimum Requirements</h3>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <p>A custom VU AP score of 610 is required to be eligible for this course. Use the link below to check your eligibility for 
      the course according to your most recent marks. </p>
    </div>
    <div style='width: 700px; padding-top:25px; text-align: justify'>
      <%= link_to 'your ap score', ap_score_path %>
    </div>
  </div>
</div>