<div class='d-flex justify-content-center' style='padding-top:10px'>
  <div class='sectioning col-md-8'>
    <h1>Residences</h1>
  </div>
</div>

<div class='d-flex justify-content-center mt-4 mb-2' style='padding-top:10px'>
  <div class='sectioning col-md-8'>
    <div class='left' style='text-align: justify'>
      <p><h4>House Novachrono</h4></p>
      <p>
        House Novachrono is a house full of aak-shin because Julius came from them. We're always hoping to catch him in a 
        battle but seldom do since he's the most powerful guy on our side for the moment. Like literally to make him "lose"
        the bad guys gotta pull the lowest of the lows. 
      </p>
    </div>
    <div class='right'>
      <%= image_tag("golden_dawn.jpeg")%>
    </div>
  </div>
</div>
<div class='d-flex justify-content-center mt-4 mb-2'>
  <div class='sectioning col-md-8'>
    <div class='right' style='text-align: justify' style='text-align: justify'>
      <p><h4>House Silva</h4></p>
      <p>
        House Silva is the best house since its gifted us Noelle Silva. She is a royal if you somehow forgot but she fell for 
        Asta nonetheless. She's cute like all the time and gives us so much reason to smile. The rest of house Silva is a piece 
        of work though.
      </p>
    </div>
    <div class='left'>
      <%= image_tag("silver_eagles.jpeg")%>
    </div>
  </div>
</div>
<div class='d-flex justify-content-center mt-4 mb-2'style='padding-bottom: 50px'>
  <div class='sectioning col-md-8'>
    <div class='left' style='text-align: justify'>
      <p><h4>House Vermillion</h4></p>
      <p>
        House Vermillion is a fantastic house. Home to Mimosa Vermillion who is gifted both with healing and attacking skills. 
        Her love for Asta is literally one of the things we love most about her. Kirsch was a pain in the butt when we met him 
        but he changed his tune and now he's quite tolerable.
      </p>
    </div>
    <div class='right'>
      <%= image_tag("crimson_lions.jpeg")%>
    </div>
  </div>
  
</div>
