<div class='blackboard-page'>
  <div class='main-panel'>
    <div class='col-md-7'>
      <h2>Edit Subject</h2>
      <h3 style='padding-top: 15px; padding-bottom:15px'>Subject Information</h3>
      <%= render 'form' %>
    </div>
    <div class='mb-4'>
      <%= link_to "Cancel", list_subjects_path, class:'btn btn-dark'%>
    </div>
  </div>
</div>

