<div class='blackboard-page'>
  <div class='main-panel'>
    <h1>New Lesson</h1>
    <div class='col-md-5' style='padding-top: 15px; padding-bottom:15px'>
      <%= render 'form' %>
    </div>
  </div>
</div>

