<div class='syscol-blackboard'>
  <h1 style='color:white'>BlackBoard</h1>
  <% if Current.user.role == 1%>
    <%= link_to 'Make a Subject', new_subject_path, class:'btn btn-light'%>
    <%= link_to 'List All Subjects', list_subjects_path, class:'btn btn-light'%>
  <% else %>
    <%= link_to 'Make a Subject', new_subject_path, class:'btn btn-dark'%>
  <% end %>
</div>
