<div class='blackboard-page'>
  <div class='main-panel'>
    <h1 style='color:white'>BlackBoard</h1>
    <% if Current.user.role == "student"%>
      <p><h3> Year <%= @subjects.first.year %> Semester <%= @subjects.first.semester%> </h3></p>
    <% end %>
    <%= render 'list_subjects' %>
  </div>
</div>