/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 .syscol{
  /* background-color: #040e5c; */
  background-color: #822019;
 }
 .syscol2{
  background-color: #b3a757;
  height: fit-content;
  min-height: 912px;
 }
 .syscol3{
  background-color: #3d3d3d;
  height: fit-content;
  min-height: 912px;
 }
 .syscol-blackboard{
  background-color: #000000;
  padding: 15px;
  padding-left: 25px;
  height: fit-content;
  min-height: 912px;
 }
 .img-circle{
  border-radius: 10%;
 }

 sectioning{
  width: 1020px;
  height: fit-content;
  min-height: 350px;
  padding: 12px;
  border-radius: 10px;
 }
 .left{
  float: left;
  width: 48%;
 }
 .right{
  float: right;
  width: 48%;
 }
 .flash-disappear{
  position: absolute;
  width: 50%;
  z-index: 5;

  animation: fade         7s forwards;
  -webkit-animation: fade 7s forwards;
  -moz-animation: fade    7s forwards;
  -o-animation: fade      7s forwards;
  -ms-animation: fade     7s forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.checkbox-butt{
  pointer-events: none;
}
.checkboxx input:checked ~ .checkbox-butt{
  pointer-events: all;
}
.collapsible{
  max-width: 1020px;
  overflow: hidden;
  font-weight: 400;
}
.collapsible input{
  display: none;
}
.collapsible label {
  position: relative;
  font-weight: 600;
  /* background: rgb(212, 212, 212); */
  background-color: #3d3d3d;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.5),0 2px 15px 0 rgba(0, 0, 0, .08);
  color:rgb(0, 0, 0);
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  z-index: 1
}
.collapsible label:after{
  content: "";
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 25px;
  background: url(arrow.svg) no-repeat 0 0;
  transition: all 0.3s ease;
}
.collapsible input:checked + label:after{
  transform: rotate(90deg);
}

.collapsible-text{
  max-height: 0px;
  overflow: auto;
  border-radius: 4px;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 1.0;
  transition: all 0.3s ease;
}
.collapsible input:checked ~ .collapsible-text{
  max-height: 490px;
  width: 1020;
  /* padding-bottom: 25px; */
  /* background: gainsboro; */
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1),0 4px 11px 0 rgba(0, 0, 0, 0.775);
  opacity: 1;
  top:0;

}
.collapsible-text h4{
  margin-bottom: 10px;
  padding: 15px 15px 0;
  color: #000000;
}
.collapsible-text p{
  padding-left: 15px;
  padding-right: 15px;
}
.bord{
  border-top: 4px solid #822019;
  border-left: 6px solid #822019;
  border-right: 6px solid #822019;
  border-bottom: 4px solid #822019;
  padding-left: 15px
}