<% if flash[:alert] %>
  <% flash.each do |name, msg|%>
    <div class='alert alert-danger flash-disappear'>
      <%= msg%>
    </div>
  <% end %>
<% end %>
<% if flash[:notice] %>
  <% flash.each do |name, msg|%>
    <div class='alert alert-primary flash-disappear'>
      <%= msg%>
    </div>
  <% end %>
<% end %>