<nav class="navbar navbar-expand-lg navbar-dark" style='background-color: #000000'>
 
  <div class="container-fluid col-md-10">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/blackboard"><h5>Blackboard</h5></a> 
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/blackboard/subjects_list">Subjects By Year</a>
        </li>
        <% if Current.user.role == "ADMIN" %>
          <li class="nav-item">
            <a class="nav-link active" href="/blackboard/subject_new">New Subject</a>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link  active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Subjects
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/blackboard">Marks</a></li>
              <li><a class="dropdown-item" href="/blackboard/secret">Deregister</a></li>
            </ul> 
          </li>
        <% end %>
      </ul>
      <% if !Current.user.nil? %>
        <% if Current.user.role == "student" %>
          <%= link_to "#{Current.user.student_no} - #{Current.user.qualifications.last.name}", sign_out_path, data:{turbo_confirm: 'Log out?', turbo_method: :delete}, class:'nav-link active', style:"color: white" %>
        <% elsif Current.user.role == "lecturer" %>
          <%= link_to "#{Current.user.student_no} - Lecturer", sign_out_path, data:{turbo_confirm: 'Log out?', turbo_method: :delete}, class:'nav-link active', style:"color: white" %>
        <% elsif Current.user.role == "ADMIN" %>
          <%= link_to "admin_page", admin_page_path, class:'nav-link active', style:"color: black" %>
          <%= link_to "#{Current.user.student_no} - ADMIN", sign_out_path, data:{turbo_confirm: 'Log out?', turbo_method: :delete}, class:'nav-link active', style:"color: white" %>
        <% end %>
      <% end %>

    </div>
  </div>
  
</nav>
