<nav class="navbar navbar-expand-lg navbar-light" style='background-color: #822019'>
 
  <div class="container-fluid col-md-10">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" href="/about">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link  active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Departments
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/electronic">Electronic</a></li>
            <li><a class="dropdown-item" href="/mechatronic">Mechatronic</a></li>
            <li><a class="dropdown-item" href="/mechanical">Mechanical</a></li>
            <li><a class="dropdown-item" href="/civil">Civil</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link  active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Students
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/calendars">Calendars</a></li>
            <li><a class="dropdown-item" href="/residences">Residences</a></li>
            <li><a class="dropdown-item" href="/sign_up">Apply</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/alumni">Alumni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/careers">Careers</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form>
    </div>
  </div>
  
</nav>